* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* project header */

.header-container {
    height: 100vh;
    background-image: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}

.header-details {
    padding-top: 216px;
    padding-right: 230px;
}

.header-titled {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
}

.header-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.btn {
    border-radius: 5px;
    background: #F15B22;
    border: 0;
    padding: 20px 26px;
    margin-top: 30px;
}

/* MY FAILURES SECTION */



.failures-container {
    display: flex;
    width: 70%;
    margin-left: 500px;
    margin-top: 200px;
}

.failures-img {
    width: 700px;
    height: 700px;
    border-radius:50%;
    /* background: rgba(241, 91, 34, 0.20); */

}

.failure-sectio {
    width: 600px;
    height: 500px;
    margin: 100px;
}

.failures-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.child {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
} 

.fa-regular{
    padding: 0 10px;
}